# Copiar a .env — NUNCA commitear .env

# Browser a usar: chrome | firefox
BROWSER=chrome

# Activar modo headless
HEADLESS=false

# Nivel de log: error | warn | info | verbose | debug
LOG_LEVEL=info
